vrrp_instance proxy_vip {
    state {{ keepalived.state }}
    interface {{ ethernet.device}}
    priority {{ keepalived.priority }}

    virtual_router_id 1

    virtual_ipaddress {
        {{ network.identifier }}.0.206/16
    }
}

virtual_server {{ network.identifier }}.0.206 443 {
    delay_loop 5
    lb_algo wlc
    lb_kind NAT
    protocol TCP

{% for server in keepalived.servers %}
    real_server {{ server.ip }} 3128 {
        weight {{ server.weight }}
        TCP_CHECK {
            connect_timeout 5
            connect_port 3128
            connect_interval 5
        }
    }
{% endfor %}
}
