cache deny all

logfile_rotate 5
coredump_dir /dev/null

acl loadbalancer src {{ network.identifier }}.206.0/24

http_port {{ http_port | default(3128) }} require-proxy-header

proxy_protocol_access allow loadbalancer

acl SSL_ports port 443
acl Safe_ports port 80		# http
acl Safe_ports port 21		# ftp
acl Safe_ports port 443		# https

acl CONNECT method CONNECT

{% for source in allow_nets %}
acl {{ source.name }} src {{ source.net }}
http_access allow {{ source.name }}
{% endfor %}

http_access deny !Safe_ports
http_access deny CONNECT !SSL_ports
http_access allow localhost manager
http_access deny manager
http_access deny all