---
- name: Allow auth for users without MFA tokens
  when: ansible_os_family == 'RedHat'
  ansible.builtin.lineinfile:
    dest: /etc/pam.d/sudo
    regexp: '^#?auth\s+required\s+pam_google_authenticator.so'
    line: 'auth required pam_google_authenticator.so nullok'
    state: present
  notify: restart ssh
  with_items:
    - sshd
    - sudo

- name: Set SSH Options
  ansible.builtin.lineinfile:
    dest: /etc/ssh/sshd_config.d/99-custom.conf
    regexp: '^#?{{ item.name }}'
    line: '{{ item.name }} {{ item.value }}'
    state: present
    create: true
    mode: '0600'
  notify: restart ssh
  with_items:
    - name: ChallengeResponseAuthentication
      value: 'yes'
    - name: KbdInteractiveAuthentication
      value: 'yes'
    - name: UsePAM
      value: 'yes'
    - name: PubkeyAuthentication
      value: 'yes'
    - name: PermitEmptyPasswords
      value: 'no'
    - name: PermitRootLogin
      value: 'no'

- name: Enable password authentication
  when: password_authentication | default(true)
  ansible.builtin.lineinfile:
    dest: /etc/ssh/sshd_config.d/99-custom.conf
    regexp: '^#?{{ item.name }}'
    line: '{{ item.name }} {{ item.value }}'
    state: present
  notify: restart ssh
  with_items:
    - name: PasswordAuthentication
      value: 'yes'
    - name: AuthenticationMethods
      value: 'publickey,password publickey,keyboard-interactive'

- name: Disable password authentication
  when: not (password_authentication | default(true))
  ansible.builtin.lineinfile:
    dest: /etc/ssh/sshd_config.d/99-custom.conf
    regexp: '^#?{{ item.name }}'
    line: '{{ item.name }} {{ item.value }}'
    state: present
  notify: restart ssh
  with_items:
    - name: PasswordAuthentication
      value: 'no'
    - name: AuthenticationMethods
      value: 'publickey'

- name: Automatically logout inactive sessions
  ansible.builtin.lineinfile:
    dest: /etc/profile
    regexp: '^#?TMOUT'
    line: 'TMOUT=900'
    state: present
