---
- name: Configure environment variables
  ansible.builtin.lineinfile:
    dest: /etc/environment
    line: "{{ item }}"
    regexp: "^{{ item.split('=')[0] }}="
    create: true
  with_items:
    - "http_proxy=http://{{ internet_proxy }}"
    - "https_proxy=http://{{ internet_proxy }}"
    - "ftp_proxy=ftp://{{ internet_proxy }}"
    - "no_proxy={{ no_proxy }}"
  notify: reboot
