---
####################
### DOCKER SETUP ###
####################
- name: Create docker group
  ansible.builtin.group:
    name: docker
    gid: "{{ docker.group_id }}"
    state: present
    system: true

- name: Setup docker user settings
  block:
    - name: Add user to docker group
      loop: "{{ docker_users }}"
      ansible.builtin.user:
        name: "{{ item }}"
        groups: docker
        append: true

    - name: Create .docker directory
      loop: "{{ docker_users }}"
      ansible.builtin.file:
        path: "/home/{{ item }}/.docker"
        state: directory
        owner: "{{ item }}"
        group: "docker"
        mode: '0750'

    - name: Setup proxies for docker user
      loop: "{{ docker_users }}"
      ansible.builtin.template:
        src: config.json.j2
        dest: "/home/{{ item }}/.docker/config.json"
        owner: "{{ item }}"
        group: "docker"
        mode: '0640'

- name: Fedora Docker Repo Setup
  when: ansible_distribution == 'Fedora'
  block:
    - name: Install required packages
      ansible.builtin.dnf:
        name:
          - dnf-plugins-core
        state: present

    - name: Add Docker repository
      ansible.builtin.command: >
        dnf config-manager
        add-repo
        --from-repofile https://download.docker.com/linux/fedora/docker-ce.repo
      args:
        creates: /etc/yum.repos.d/docker-ce.repo

- name: Ubuntu Docker Repo Setup
  when: ansible_distribution == 'Ubuntu'
  block:
    - name: Install required packages
      ansible.builtin.apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
        state: present
        update_cache: true

    - name: Add Docker GPG Key
      ansible.builtin.apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Add Docker Repository
      ansible.builtin.apt_repository:
        repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_lsb.codename }} stable
        state: present
        filename: docker

- name: Install Docker Dependencies
  ansible.builtin.package:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
      - python3-pip
    state: present
    update_cache: true

- name: Install Docker Python module
  ansible.builtin.pip:
    name: docker
    state: present

- name: Configure Docker Daemon HTTP Proxy
  ansible.builtin.file:
    path: /etc/systemd/system/docker.service.d
    state: directory
    mode: '0644'

- name: Set HTTP Proxy for Docker Daemon
  notify: Restart Docker
  ansible.builtin.template:
    src: http-proxy.conf.j2
    dest: /etc/systemd/system/docker.service.d/http-proxy.conf
    mode: '0644'

- name: Enable and start Docker service
  ansible.builtin.systemd:
    name: docker
    enabled: true
    state: started
    daemon_reload: true
